.bounds {
   max-width: 1180px;
   margin: 0 auto;
}

.cart-status {
   position: relative;
}

.cart-status .num {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   border-radius: 50%;
   background-color: red;
   width: 16px;
   height: 16px;
   color: white;
   line-height: 0;
   font-size: 12px;
   top: -6px;
   right: -6px
}

.stipend-remaining {
   width: 130px;
   height: 130px;
   background-size: cover;
   background-position: center center;
   background-repeat: none;
   font-size: 36px;
   margin-right: 36px;
}

.products-container {
   display: flex;
   gap: 18px;
   flex-wrap: wrap;
}

.productCard {
   position: relative;
   cursor: pointer;
}

.productCard-spangle {
   position: absolute;
   inset: auto auto auto -24px;
   transform: rotate(-38deg);
   z-index: 2;
}

.productCard-img {
   height: 355px;
   overflow: hidden;
}

.productCard-img-el {
   width: 100%;
   height: 100%;
   background-position: center center;
   background-size: cover;
   transition: all .5s;
   z-index: 1;
}

.productCard-img-el:hover {
   transform: scale(1.2);
}


.product-image {
   width: 666px;
   height: 632px; /* TODO: remove this and debug outline */
   background-position: center center;
   background-size: cover;
}

.product-add .nds-button {
   width: 352px;
}

.testimonal {
   width: 337px;
   min-height: 365px;
   padding-top: 80px !important;
   background-color: rgba(26, 67, 56, 0.05);
   position: relative;
   font-size: 18px;
}

.testimonal:before {
   font-family: var(--font-family-heading);
   position: absolute;
   content: "\301F";
   font-size: 80px;
   line-height: 0;
   color: var(--color-pine);
   top: var(--space-m);
   left: var(--space-m);
}


.shim {
   background: rgba(0,0,0,0.3);
   position: absolute;
   inset: 0;
   z-index: 3;
}

.cart-list {
   position: absolute;
   height: 100vh;
   z-index: 4;
   right: 0;
   width: 533px;
   background-color: rgba(249, 249, 249, 1);
}

.cart-list .nds-button {
   width: 100%;
   margin: 0 auto;
}

.cart-img {
   width: 100px;
   height: 123px;
   background-size: cover;
}

/* NDS overrides */

.nds-tag--subdued {
   background-color: var(--color-pine) !important;
   color: var(--color-white) !important;
}

