main {
   max-width: 1200px;
   margin: 0 auto;
}

.productCard {
   position: relative;
   cursor: pointer;
}

.productCard-spangle {
   position: absolute;
   inset: auto auto auto -24px;
   transform: rotate(-38deg);
   z-index: 2;
}

.productCard-img {
   height: 355px;
   overflow: hidden;
   background-color: white;
}

.productCard-img-el {
   width: 100%;
   height: 100%;
   background-position: center center;
   background-size: cover;
   background-color: white;
   transition: all .5s;
   z-index: 0;
}

.productCard-img-el:hover {
   transform: scale(1.2);
}


.product-image {
   width: 666px;
   height: 632px; /* TODO: remove this and debug outline */
   background-position: center center;
   background-size: cover;
}

.product-add .nds-button {
   width: 352px;
}

/* NDS overrides */

.nds-tag--subdued {
   background-color: var(--color-pine) !important;
   color: var(--color-white) !important;
}

