.productCard {
   position: relative;
}

.productCard-spangle {
   position: absolute;
   inset: auto auto auto -24px;
   transform: rotate(-38deg);
}


/* NDS overrides */

.nds-tag--subdued {
   background-color: var(--color-pine) !important;
   color: var(--color-white) !important;
}

